In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

In [3]:
df=pd.read_csv('C:\\Users\\prave\\OneDrive\\Desktop\\iris.csv')

In [17]:
df=df.drop(['Id'],axis=1)

In [18]:
df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [19]:
df.isnull().sum()

SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [20]:
from sklearn.linear_model import LogisticRegression

In [21]:
x=df.drop(['Species'],axis=1)
y=df['Species']

In [22]:
lr=LogisticRegression(class_weight='balanced')
lr.fit(x,y)
y_pred=lr.predict(x)

In [23]:
from sklearn.metrics import accuracy_score

In [24]:
accuracy_score(y,y_pred)

0.9733333333333334

In [25]:
df.head(1)

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa

In [26]:
lr.predict([[5.1,3.5,1.4,0.2]])

array(['Iris-setosa'], dtype=object)

In [27]:
import pickle

In [28]:
with open ('iris.pkl','wb') as f:
    pickle.dump(lr,f)

In [30]:
lr_model=pickle.load(open('iris.pkl','rb'))

lr_model.predict([[5.1,3.5,1.4,0.2]])[0]

'Iris-setosa'